<div class="form" [formGroup]="form">
  <mat-form-field class="form-full" appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="nom">
    <div *ngIf="form.get('nom')?.invalid && form.get('nom')?.touched">
      <mat-error *ngIf="form.get('nom')?.errors?.['required']">El camp nom és obligatori</mat-error>
    </div>
  </mat-form-field>
  <mat-form-field class="form-full" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <mat-error *ngIf="form.get('email')?.errors?.['required']">El camp email és obligatori</mat-error>
      <mat-error *ngIf="form.get('email')?.errors?.['email']">El camp email no és vàlid</mat-error>
    </div>
  </mat-form-field>
  <mat-form-field class="form-full" appearance="fill">
    <mat-label>Telèfon</mat-label>
    <input matInput formControlName="telefon">
    <div *ngIf="form.get('telefon')?.invalid && form.get('telefon')?.touched">
      <mat-error *ngIf="form.get('telefon')?.errors?.['required']">El camp telèfon és obligatori</mat-error>
      <mat-error *ngIf="form.get('telefon')?.errors?.['minlength']">El camp telèfon ha de tindre mínim 9
        números</mat-error>
    </div>
  </mat-form-field>
  <mat-form-field class="form-full" appearance="fill">
    <mat-label>Missatge</mat-label>
    <textarea matInput rows="10" formControlName="missatge"></textarea>
    <div *ngIf="form.get('missatge')?.invalid && form.get('missatge')?.touched">
      <mat-error *ngIf="form.get('missatge')?.errors?.['required']">El camp missatge és obligatori</mat-error>
      <mat-error *ngIf="form.get('missatge')?.errors?.['minlength']">El camp missatge ha de tindre mínim 20
        caràcters</mat-error>
    </div>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="sendValues()" [disabled]="form.invalid">Enviar</button>

</div>